<h1>Administration Pages</h1>
<ul>
  <li><%= link_to 'View Check-ins', checkins_path %></li>
  <li><%= link_to 'View Users', users_path %></li>
  <li><%= link_to 'Add a New User', new_user_path %></li>
  <li><%= link_to 'Manage Cities', cities_path %></li>
  <li><%= link_to 'Manage Organizations', organizations_path %></li>
</ul>