<h1>Listing Users</h1>


<div class="row">


  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Login/Email</th>
      <th>Roles</th>
      <th>Cities</th>
      <th>Organization</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.roles.map {|r| r.name}.join(',') %></td>
        <td><%= user.cities_curated.map {|c| c.name}.join(',') %></td>
        <td><%= user.organization.name %></td>
        <td><%= link_to 'Show', user %></td>

      </tr>
    <% end %>
    </tbody>
  </table>

  <br />


</div>
