<% if @publish_messages != nil
     @publish_messages.each do |message| %>
    <div class="alert alert-info">
      <%= message %>
    </div>
  <% end
     end %>
<h4 id="route_details">
  <%= t(:details) %>
  <% if can? :publish, @route %>
    <%
       class_attr = "publish btn btn-success pull-right"
       publish = @route.published_key.present? ? t('republish') : t('publish')
       publish_icon = @route.published_key.present? ? "icon-repeat" : "icon-ok-circle"
    %>
    <%= link_to publish_route_path(@route), :class => class_attr, :remote => true, :method => :put, :data => {:replace => "#route_details"} do %>
      <i class="<%= publish_icon %> icon-white"></i> <%= t('publish') %>
    <% end %>
    <% if @route.published_key.present? %>
      <%= link_to unpublish_route_path(@route), :class => "unpublish btn btn-inverse pull-right", :remote => true, :method => :put, :data => {:replace => "#route_details"} do %>
        <i class="icon-ban-circle icon-white"></i> <%= t('unpublish') %>
      <% end %>
    <% end %>

  <% end %>

</h4>