<%- model_class = Route -%>
<ul class="breadcrumb">
  <li><%= link_to t('home.title'), home_path %> <span class="divider">/</span></li>
  <li class="active"><%= t(:'navbar.routes') %></li>
</ul>
<ul class="toolbar inline">
  <!-- toolbar with large action buttons -->
  <% if can? :create, model_class %>
    <li><%= link_to t('.add_route'), new_route_path, :class => "btn btn-success" %></li>
  <% end %>
</ul>
<%= render :partial => "shared/city_tabs", :locals => {} %>

<h3><%= t('.manageable_routes') %></h3>
<%= render :partial => "routes/listing", :locals => {:skip_profile => false, :routes => @manageable_routes} %>

<h3><%= t('.other_routes') %></h3>
<%= render :partial => "routes/listing", :locals => {:skip_profile => false, :routes => @other_routes} %>
