<%= simple_form_for(@route_profile, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs clearfix">

    <div class="span9">
      <%= f.association :city, :collection => cities_curated, :include_blank => false %>
      <%= f.association :organization, :collection => @managed_organizations, :include_blank => false %>
      <!-- TODO: here goes a hidden field with the user's organization -->
      <%- if current_user.is_admin? %>
        <!--Admins can edit priority -->
        <%= f.input :priority, :input_html => {:min => 0, :max => 100} %>
      <%- else %>
        <%= hidden_field_tag :priority, 0 %>
      <%- end %>
      <%= f.input :image, hint: t('.icon_help', width: Rails.configuration.route_profile_image_min_width, height: Rails.configuration.route_profile_image_min_height) %>
      <%= f.input :date_start %>
      <%= f.input :date_end %>
    </div>
    <div class="span9">

      <%= render :partial => "shared/localized_attributes", :locals => {:resource => @route_profile, :f => f} %>

    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
