<%- model_class = RouteProfile -%>
<ul class="breadcrumb">
  <li><%= link_to t('home.title'), home_path %><span class="divider">/</span></li>
  <% unless @city.nil? %>
    <li class=""><%= link_to t(:'navbar.cities') , cities_path %><span class="divider">/</span></li>
    <li class=""><%= link_to @city.name , city_path(@city) %><span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= t('navbar.route_profiles') %></li>
</ul>
<ul class="toolbar inline">
  <!-- toolbar with large action buttons -->
  <% if can? :create, RouteProfile %>
    <li><%= link_to t('.add_profile'), (@city.blank? ? new_route_profile_path : new_city_route_profile_path(@city)), :class => "btn btn-success" %></li>
  <% end %>
</ul>
<%= render :partial => "shared/city_tabs", :locals => { } %>
<%= render :partial => "route_profiles/listing", :locals => { :route_profiles => @my_route_profiles } %>
<%= render :partial => "route_profiles/listing", :locals => { :route_profiles => @other_route_profiles } %>


