<ul class="breadcrumb">
  <li><%= link_to t('home.title'), home_path %><span class="divider">/</span></li>
  <li class=""><%= link_to t(:'navbar.admin') , admin_index_path %><span class="divider">/</span></li>
  <li class="active"><%= t(:'navbar.organizations') %></li>
</ul>

<ul class="toolbar inline">
  <!-- toolbar with large action buttons -->
  <% if can? :create, Organization %>
    <li><%= link_to t('.add_organization'), new_organization_path, :class => "btn btn-success" %></li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
    <th class="organization">Icon</th>
    <th class="organization">Name</th>
    <th class="organization"></th>
    <th class="organization"></th>
  </thead>

<% @organizations.each do |organization| %>
  <tr>
    <td class="organization"><%= image_tag organization.image.icon, size: "50x50" %></td>
    <td class="organization"><%= organization.name %></td>
    <td class="organization"><%= link_to 'Show', organization %></td>
    <td class="organization"><%= link_to 'Edit', edit_organization_path(organization) %></td>
  </tr>
<% end %>
</table>