<ul class="breadcrumb">
  <li><%= link_to t('home.title'), home_path %><span class="divider">/</span></li>
  <li class=""><%= link_to t(:'navbar.admin') , admin_index_path %><span class="divider">/</span></li>
  <li class=""><%= link_to t(:'navbar.organizations'), organizations_path %><span class="divider">/</span></li>
  <li class="active"><%= @organization.name %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Icon:</b>
  <%= image_tag @organization.image.icon %>
</p>

<h3>Users</h3>
<%= render 'users/listing' %>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
